**/train.py
**/dataset
**/datasets
**/.DS_Store
**/__pycache__
**/*.ipynb
**/*.npz
**/inference.py
**/hf.py
!**/results.png
**/*.egg-info/
**/test*
**/uv.lock
**/notes.txt
**/train.py
**/predictions
.envrc
mnist
pedestrians
wikitext
